*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/**********************************************************/
/********************** CSS DO TOPO ***********************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    background-color: #00CAD1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 3px solid #00a9af;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.container h1{
    text-align: center;
}
.menu{
    display: flex;  
}
.logo{
    width: 20%;
}
.logo img{
    width: 100%;
    object-fit: cover;
}
.menu li{
    list-style: none;
}
.menu a{
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.menu a:hover{
    background-color: #00bbc2;
    border-radius: 5px;
}

/**********************************************************/
/********************* CSS DO BANNER **********************/
.capa{
    background-image: url('../assets/img/recepcao.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-capa h1{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    font-weight: normal;
}

/**********************************************************/
/******************** CSS DO CONTEÚDO *********************/

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top-about{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-about h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.top-about h2, p{
    color: #8a8a8a;
}

.bot-about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.bot-about figure{
    width: 50%;
}
.bot-about figure img{
    width: 80%;
    object-fit: cover;
}
.list-about{
    width: 100%;
    color: #8a8a8a;
}
.list-about li{
    margin-left: 40px;
}
.list-about h3{
    margin-bottom: 30px;
}

/*--------------- Especialty ----------------*/

.flex-column{
    flex-direction: column;
}
.specialty{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    flex-direction: column;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top-specialty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.top-specialty h3, p{
    margin-bottom: 30px;
    width: 60%;
}

.bot-specialty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 100%;
}
.card-img{
    width: 31%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #c0c0c0;
    margin-bottom: 30px;
}
figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}
.btn-horario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn-horario a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #00a9af;
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 30px;
}
.btn-horario a:hover{
    background-color: #00CAD1;
}

/*------------- CONTATO ----------------*/

#contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.desc-contato{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.desc-contato h3{
    margin-bottom: 30px;
}
.localization{
    width: 100%;
}
.localization iframe{
    width: 100%;
}

/**********************************************************/
/********************* CSS DO RODAPÉ **********************/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0C6E71;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-footer{
    width: 10%;
}
.desc-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.desc-footer p{
    width: 90%;
    text-align: center;
    color: #fff;
}

/**********************************************************/
/******************* CSS PAGE SPECIALTY *******************/

.especialidades{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
.lista-especialidades{
    display: flex;
}
.lista-especialidades li{
    list-style: none;
}
.lista-especialidades a{
    text-decoration: none;
    padding: 5px 0;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 3px solid #00CAD1;
    margin: 0 10px;
    margin-bottom: 30px;
}
.titulo-especialidades{
    text-align: center;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}

#ortopedia,
#pediatria,
#geriatria,
#psicologia,
#fisioterapia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#ortopedia h3, p,
#pediatria h3, p,
#geriatria h3, p,
#psicologia h3, p,
#fisioterapia h3, p{
    margin-bottom: 20px;
}
.tabela{
    margin: 0;
    padding: 0;
    width: 60%;
    height: 250px;
    text-align: center;
}
thead .linha-tabela{
    height: 50px;
    margin: 0;
    padding: 0;
}
.top-tabela:only-of-type{
    margin: 0;
    padding: 0;
    background-color: #00CAD1;
    color: white;
}
tbody .linha-tabela:nth-of-type(odd){
    background-color: #d8d8d8;
}
tbody .linha-tabela:nth-of-type(even){
    background-color: #f1f1f1;
}
/* table::before{
    content: "";
    background-image: url('../assets/img/ortopedia.png');
    background-size: cover;
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: flex;
} */
.container-table{
    display: flex;
    width: 100%;
    height: 250px;
    margin-bottom: 80px;
}
.container-table figure{
    width: 30%;
    height: 100%;
}













/**********************************************************/
/********************* MEDIA QUERIES **********************/

@media (min-width: 426px) and (max-width: 768px){
    .card-img{
        width: 45%;
    }
    .bot-about figure{
        display: none;
    }
    .list-about{
        text-align: center;
}
}

@media (min-width: 10px) and (max-width:425px){
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
    .logo{
        height: 60%;
        border-bottom: 1px solid #0C6E71;
    }
    .menu-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
    }
    .topo-site{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .titulo-capa h1{
        font-size: 26px;
        text-align: center;
    }
    .bot-about figure{
        display: none;
    }
    .list-about{
        list-style-position: outside;
        text-align: center;
    }
    .card-img{
        width: 100%;
    }
    
}
